

*{box-sizing: border-box;}


body{
    height: 100vh;
}

body{
    position: relative;
}

.screen {
    position: relative;
    z-index: 1;
    top: 95px;
    left: 325px;
}

.controller{
    background-color: #333333;
    width: 1200px;
    height: 540px;
    position: absolute;

    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    border-radius: 96px; 
}

.controller::before,
.controller::after{
    content:"";
    position: absolute;
    width: 185px;
    height: 508px;
    border: 16px solid rgba(0, 0, 0, .1);
}


.controller::before{
    background-color: #00BBE3;
    border-right: none;
    border-radius: 96px 0 0 96px;
   
}

.controller::after{
    background-color: red;
    right: 0;
    border-left: none;
    border-radius: 0 96px 96px 0;
}


.controller-left,
.controller-right{
    position: relative;
}

.controller-left,
.controller-right{
    position: absolute;
}


.controller-left{
    top: 0;
    left: 0;
}

.controller-right{
    top: 0;
    right: 0;
}



.controller-joystick{
    position:absolute;
    display: inline-block;
    width: 105px;
    height: 105px;
    background-color: black;
    z-index: 10;
    border: 15px solid black;
    border-radius: 50%;
}


.controller-left .controller-joystick{
    top: 60px;
    left: 50px;
}

.controller-right .controller-joystick{
    top: 250px;
    right: 60px;
}



.buttons{
    width: 140px;
    height: 140px;
    z-index: 1;
    position: absolute;
    transform: rotate(45deg);
}

.controller-left .buttons{
    top: 235px;
    left: 32px;
}

.controller-right .buttons{
    top: 65px;
    left: -35px;
}



.button{
    background-color: black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 8px;
   }

.button-home,
.button-capture {
    position: absolute;
    z-index: 1;
    top: 400px;
}




.button-home{
    border-radius: 25%;
    left: 110px;
    
}

.button-capture{
   right: 120px; 
}

.button-top{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 150px;
    z-index: -1;
}